<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Admin</title>
    <link rel="stylesheet" th:href="@{/admin/css/main.css}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="dashboard">
                <div th:replace ="common/admin :: header"></div>
                <div class="right">
                    <div class="right__content">
                        <div class="right__title">Bảng điều khiển</div>
                        <p class="right__desc">Bảng điều khiển</p>
                        <div class="right__cards">
                            <a class="right__card" th:href="@{/admin/list-product}">
                                <div class="right__cardTitle">Sản Phẩm</div>
                                <div class="right__cardNumber" th:text="${countProduct}"></div>
                                <div class="right__cardDesc">Xem Chi Tiết <img th:src="@{/admin/assets/arrow-right.svg}" alt=""></div>
                            </a>
                            <a class="right__card" th:href="@{/admin/list-user}">
                                <div class="right__cardTitle">Khách Hàng</div>
                                <div class="right__cardNumber" th:text="${countMember}"></div>
                                <div class="right__cardDesc">Xem Chi Tiết <img th:src="@{/admin/assets/arrow-right.svg}" alt=""></div>
                            </a>
                            <a class="right__card" th:href="@{/admin/list-category}">
                                <div class="right__cardTitle">Danh Mục</div>
                                <div class="right__cardNumber" th:text="${countCategory}"></div>
                                <div class="right__cardDesc">Xem Chi Tiết <img th:src="@{/admin/assets/arrow-right.svg}" alt=""></div>
                            </a>
                            <a class="right__card" th:href="@{/admin/list-bill}">
                                <div class="right__cardTitle">Đơn Hàng</div>
                                <div class="right__cardNumber" th:text="${countBill}"></div>
                                <div class="right__cardDesc">Xem Chi Tiết <img th:src="@{/admin/assets/arrow-right.svg}" alt=""></div>
                            </a>
                        </div>
                        <div class="right__table">
                            <p class="right__tableTitle">Đơn hàng mới</p>
                            <div class="right__tableWrapper">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Người mua</th>
                                            <th>Ngày mua</th>
                                            <th>Tổng tiền</th>
                                            <th>Id Coupon</th>
                                            <th>Discount</th>
                                            <th>Thành tiền</th>
                                            <th>Chọn</th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                    	<div th:each="bill : ${list}" th:remove= "tag">
	                                        <tr>
	                                            <td data-label="Id" th:text="${bill.id }"></td>
	                                            <td data-label="Người mua" th:text="${bill.user.userName }"></td>
	                                            <td data-label="Ngày mua" th:text="${bill.buyDate}"></td>
	                                            <td data-label="Tổng tiền" th:text="${bill.totalPrice }+ ' ₫'"></td>
	                                            <td data-label="Id Coupon"> 
	                                            	<div th:if="${bill.coupon != null }" th:text="${bill.coupon.id }" > </div>
	                                            </td>
	                                            <td data-label="Discount">
	                                            	<div th:if="${bill.coupon != null }" th:text=" ${bill.discount}" th:remove="tag"></div>
	                                            </td>
	                                            <td data-label="Thành tiền">
	                                            	<div th:if="${bill.coupon != null }" th:text="${(100-bill.discount) * bill.totalPrice /100} + ' ₫'" th:remove="tag"> </div>
	           	                                	<div th:if="${bill.coupon == null }" th:text="${bill.totalPrice } +' ₫'" th:remove="tag"></div>
	                                            </td>
	                                            <td data-label="Chọn">
	                                            	<a th:href="@{'/admin/detail-bill?id=' + ${bill.id }}">Chi tiết</a>
	                                            </td>
	                                        </tr>  
	                                     </div>       
                                    </tbody>
                                    
                                </table>
                            </div>
                            <a th:href="@{/admin/list-bill}" class="right__tableMore"><p>Xem tất cả các đơn đặt hàng</p> <img th:src="@{/admin/assets/arrow-right-black.svg}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/admin/js/main.js}"></script>
</body>
</html>