<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Admin</title>
    <link rel="stylesheet" th:href="@{/admin/css/main.css}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="dashboard">
                <div th:replace="common/admin :: header"></div>
                <div class="right">
                    <div class="right__content">
                        <div class="right__title">Bảng điều khiển</div>
                        <p class="right__desc">List Admin User</p>
                        <div class="right__table">
                            <div class="right__tableWrapper">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>User Name</th>
                                            <th>Role</th>
                                            <th style="text-align: center;">Img</th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
	                                        <tr th:each="user : ${list}" >
	                                            <td data-label="Id" th:text="${user.id }"></td>
	                                            <td data-label="Name" th:text="${user.name }"></td>
	                                            <td data-label="User Name" th:text="${user.userName }"></td>
	                                            <td data-label="Role" th:text="${user.role }"></td>
	                                            <td data-label="Img" style="text-align: center;"><img style="width: 50px;height: 50px; border-radius: 100%; object-fit: cover;" th:src="@{'/img/user/'+ ${user.userName} +'/' + ${user.img}}" alt=""></td>   
	                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/admin/js/main.js}"></script>
</body>
</html>