<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giỏ Hàng</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link th:href="@{/user/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/user/fonts/awesome/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,100,200,800" rel="stylesheet" />
    <link th:href="@{/user/css/owl.carousel.css}" rel="stylesheet" />
    <link th:href="@{/user/css/owl.theme.css}" rel="stylesheet" />
    <link rel='stylesheet' th:href='@{/user/rs-plugin/css/settings.css}' />
    <link th:href="@{/user/style.css}" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/user/favicon/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/user/favicon/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/user/favicon/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/user/favicon/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/user/favicon/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/user/favicon/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/user/favicon/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/user/favicon/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/user/favicon/apple-icon-180x180.png}">
    <link rel="manifest" th:href="@{/user/favicon/manifest.json}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" th:content="@{/user/ms-icon-144x144.png}">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
	<div th:replace ="common/user :: header"></div>
	<!--end class tz-header-->

	<section class="tzcheckout-wrap">
        <h3 class="tz-title-bold-3 over-title">CONFIRM YOUR ORDER</h3>
        <div class="container">
                <table class="shop_table">
                	<div th:if="${b != null}" th:remove="tag">Số lượng sản phẩm quá lớn!!!</div>
                    <thead>
                        <tr>
                            <th class="product-image">Image</th>
                            <th class="name">Product Name</th>
                            <th class="porduct-quantity">Quantity</th>
                            <th class="product-price">Unit Price </th>
                            <th class="product-total">Total</th>
                            <th class="product-remove">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <div th:each="entry : ${cart}" th:remove="tag">
                        <tr class="cart_table_item">
                            <!-- Product Name -->
                            <td class="product-img">
                                <img alt="01" class="wp-post-image" th:src="@{'/img/category/' + ${entry.value.product.category.name } +'/'+ ${entry.value.product.img} }">
                            </td>
                            <!-- Product Code -->
                            <td class="product-name">
                                <a th:text="${entry.value.product.name }"></a>
                            </td>
                            <!-- Quantity inputs -->
                            <td class="product-quantity">
                                <span th:text="${entry.value.quantity }"></span>
                            </td>
                            <!-- Quantity inputs -->
                            <td class="product-price">
                                <span class="price" th:text="${entry.value.price }+ ' ₫'"></span>
                            </td>

                            <!-- Product subtotal -->
                            <td class="product-subtotal">
                                <span class="price" th:text="${entry.value.price * entry.value.quantity}+ ' ₫'"></span>
                            </td>
                            <!-- Remove from cart link -->
                            <td class="product-remove" >
                                <a class="remove" th:href="@{'/delete-cart-product?id=' + ${entry.key }}"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
					</div>
                    </tbody>
                    
                </table>
                <div class="text-left" style="float: left">
                	<form th:action="@{/coupon}" method="post">
                		<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<label>Coupon:</label>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
								<input type="text" name="name" required>
							</div>
						</div>
						<button type="submit" class="btn btn-success">Add</button>
						<div th:if="${c != null}" th:remove="tag">Mã hết hạn hoặc không chính xác</div>
                	</form>
                	  
                </div>
                <div class="text-right">
                	<div th:if="${coupon != null}" th:remove="tag">
                		<h3 class="text-success" th:text="'Total: ' + ${total * (100 - coupon.discount) /100} + ' ₫'"></h3>
                	</div>
                	<div th:if="${coupon == null}" th:remove="tag">
                		<h3 class="text-success" th:text="'Total: ' + ${total} + ' ₫'"></h3>
                	</div>
                	<a th:href="@{/user/bill}"><button type="button" class="btn btn-success">Buy</button></a> 
                </div>       
            <div class="tzpayment">
                <h3 class="tz-title-bold-3 over-title">CONFIRM YOUR ORDER</h3>
                <span class="payment-title">Paypal Advance</span>
                <ul class="payment-method">
                    <li>
                        <a href="#"><img th:src="@{/user/demos/payment1.jpg}" alt="payment1"></a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{/user/demos/payment2.jpg}" alt="payment2"></a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{/user/demos/payment3.jpg}" alt="payment3"></a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{/user/demos/payment4.jpg}" alt="payment4"></a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{/user/demos/payment5.jpg}" alt="payment5"></a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{/user/demos/payment6.jpg}" alt="payment6"></a>
                    </li>
                </ul>
                <p>You can pay by credit card using this payment method</p>
            </div>
        </div><!--end class container-->
    </section><!--end class tzblog-wrap--> 
	

	<div th:replace ="common/user :: footer"></div>
	
	<!--end class tz-footer-->

	<script th:src="@{/user/js/jquery.min.js}"></script>
	<script>
		jQuery.noConflict();
	</script>
	<script th:src="@{/user/js/bootstrap.min.js}"></script>
	<script th:src="@{/user/js/jquery.parallax-1.1.3.js}"></script>
	<script th:src="@{/user/js/owl.carousel.js}"></script>
	<script th:src="@{/user/js/resize.js}"></script>
	<script th:src="@{/user/js/off-canvas.js}"></script>
	<script th:src="@{/user/js/jquery.isotope.min.js}"></script>
	<script th:src="@{/user/js/custom-portfolio.js}"></script>
	<script th:src="@{/user/js/custom.js}"></script>
	<script type='text/javascript'
		th:src='@{/user/rs-plugin/js/jquery.themepunch.tools.min.js}'></script>
	<script type='text/javascript'
		th:src='@{/user/rs-plugin/js/jquery.themepunch.revolution.min.js}'></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery('#rev_slider_2_1').show().revolution({
				dottedOverlay : "none",
				delay : 6000,
				startwidth : 960,
				startheight : 350,
				hideThumbs : 200,

				thumbWidth : 100,
				thumbHeight : 50,
				thumbAmount : 4,

				navigationType : "none",
				navigationArrows : "solo",
				navigationStyle : "round",

				touchenabled : "on",
				onHoverStop : "on",

				swipe_velocity : 0.7,
				swipe_min_touches : 1,
				swipe_max_touches : 1,
				drag_block_vertical : false,

				keyboardNavigation : "off",

				navigationHAlign : "center",
				navigationVAlign : "bottom",
				navigationHOffset : 0,
				navigationVOffset : 20,

				soloArrowLeftHalign : "left",
				soloArrowLeftValign : "center",
				soloArrowLeftHOffset : 20,
				soloArrowLeftVOffset : 0,

				soloArrowRightHalign : "right",
				soloArrowRightValign : "center",
				soloArrowRightHOffset : 20,
				soloArrowRightVOffset : 0,

				shadow : 0,
				fullWidth : "off",
				fullScreen : "on",

				spinner : "spinner0",

				stopLoop : "off",
				stopAfterLoops : -1,
				stopAtSlide : -1,

				shuffle : "off",

				forceFullWidth : "off",
				fullScreenAlignForce : "off",
				minFullScreenHeight : "",
				hideTimerBar : "on",
				hideThumbsOnMobile : "off",
				hideNavDelayOnMobile : 1500,
				hideBulletsOnMobile : "off",
				hideArrowsOnMobile : "off",
				hideThumbsUnderResolution : 0,

				fullScreenOffsetContainer : "",
				fullScreenOffset : "",
				hideSliderAtLimit : 0,
				hideCaptionAtLimit : 0,
				hideAllCaptionAtLilmit : 0,
				startWithSlide : 0
			});
		}); /*ready*/

		var Desktop = 4, tabletportrait = 2, mobilelandscape = 2, mobileportrait = 1, resizeTimer = null;

		jQuery(window).load(
				function() {
					jQuery('div.slotholder').prepend(
							'<div class="bk-responsive-slide"></div>');
				})
	</script>
</body>
</html>