<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chi Tiết Đơn Hàng</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link th:href="@{/user/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/user/fonts/awesome/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,100,200,800" rel="stylesheet" />
    <link th:href="@{/user/css/owl.carousel.css}" rel="stylesheet" />
    <link th:href="@{/user/css/owl.theme.css}" rel="stylesheet" />
    <link rel='stylesheet' th:href='@{/user/rs-plugin/css/settings.css}' />
    <link th:href="@{/user/style.css}" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/user/favicon/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/user/favicon/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/user/favicon/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/user/favicon/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/user/favicon/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/user/favicon/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/user/favicon/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/user/favicon/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/user/favicon/apple-icon-180x180.png}">
    <link rel="manifest" th:href="@{/user/favicon/manifest.json}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" th:content="@{/user/ms-icon-144x144.png}">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
	<div th:replace ="common/user :: header"></div>
	<!--end class tz-header-->

	<section class="tzcheckout-wrap">
        <h3 class="tz-title-bold-3 over-title">DETAIL BILL</h3>
        <div class="container">
            <form method="post" action="#">
                <table class="shop_table">
                    <thead>
                        <tr>
                            <th class="id">Id</th>
                            <th class="quantity">Số lượng</th>
                            <th class="price">Giá</th>
                            <th class="date">Ngày mua</th>
                            <th class="name-product">Tên sản phẩm</th>
                            <th class="total">Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                    <div th:each="billProduct : ${list}" th:remove="tag">
                        <tr class="cart_table_item">
                            <td class="id">
                                 <span th:text="${billProduct.id }"></span>
                            </td>
                            <td class="quantity">
                                 <span th:text="${billProduct.quantity }"></span>
                            </td>
                            <td class="price">
                                 <span th:text="${billProduct.price }"></span>
                            </td>
                            <td class="date">
                                <span th:text="${billProduct.bill.buyDate }"></span>
                            </td>
                            <td class="name-product">
                                 <span th:text="${billProduct.product.name }"></span>
                            </td>
                            <!-- Quantity inputs -->
                            <td class="total">
                                <span th:text="${billProduct.quantity * billProduct.price }+ ' ₫'"></span>
                            </td>
                        </tr>
					</div>
                    </tbody>
                </table>

                
            </form>
            <div class="tzpayment">
                <h3 class="tz-title-bold-3 over-title">CONFIRM YOUR ORDER</h3>
                <span class="payment-title">Paypal Advance</span>
                <ul class="payment-method">
                    <li>
                        <a href="#"><img th:src="@{/user/demos/payment1.jpg}" alt="payment1"></a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{/user/demos/payment2.jpg}" alt="payment2"></a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{/user/demos/payment3.jpg}" alt="payment3"></a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{/user/demos/payment4.jpg}" alt="payment4"></a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{/user/demos/payment5.jpg}" alt="payment5"></a>
                    </li>
                    <li>
                        <a href="#"><img th:src="@{/user/demos/payment6.jpg}" alt="payment6"></a>
                    </li>
                </ul>
                <p>You can pay by credit card using this payment method</p>
            </div>
        </div><!--end class container-->
    </section><!--end class tzblog-wrap-->
	

	<div th:replace ="common/user :: footer"></div>
	
	<!--end class tz-footer-->

	<script th:src="@{/user/js/jquery.min.js}"></script>
	<script>
		jQuery.noConflict();
	</script>
	<script th:src="@{/user/js/bootstrap.min.js}"></script>
	<script th:src="@{/user/js/jquery.parallax-1.1.3.js}"></script>
	<script th:src="@{/user/js/owl.carousel.js}"></script>
	<script th:src="@{/user/js/resize.js}"></script>
	<script th:src="@{/user/js/off-canvas.js}"></script>
	<script th:src="@{/user/js/jquery.isotope.min.js}"></script>
	<script th:src="@{/user/js/custom-portfolio.js}"></script>
	<script th:src="@{/user/js/custom.js}"></script>
	<script type='text/javascript'
		th:src='@{/user/rs-plugin/js/jquery.themepunch.tools.min.js}'></script>
	<script type='text/javascript'
		th:src='@{/user/rs-plugin/js/jquery.themepunch.revolution.min.js}'></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery('#rev_slider_2_1').show().revolution({
				dottedOverlay : "none",
				delay : 6000,
				startwidth : 960,
				startheight : 350,
				hideThumbs : 200,

				thumbWidth : 100,
				thumbHeight : 50,
				thumbAmount : 4,

				navigationType : "none",
				navigationArrows : "solo",
				navigationStyle : "round",

				touchenabled : "on",
				onHoverStop : "on",

				swipe_velocity : 0.7,
				swipe_min_touches : 1,
				swipe_max_touches : 1,
				drag_block_vertical : false,

				keyboardNavigation : "off",

				navigationHAlign : "center",
				navigationVAlign : "bottom",
				navigationHOffset : 0,
				navigationVOffset : 20,

				soloArrowLeftHalign : "left",
				soloArrowLeftValign : "center",
				soloArrowLeftHOffset : 20,
				soloArrowLeftVOffset : 0,

				soloArrowRightHalign : "right",
				soloArrowRightValign : "center",
				soloArrowRightHOffset : 20,
				soloArrowRightVOffset : 0,

				shadow : 0,
				fullWidth : "off",
				fullScreen : "on",

				spinner : "spinner0",

				stopLoop : "off",
				stopAfterLoops : -1,
				stopAtSlide : -1,

				shuffle : "off",

				forceFullWidth : "off",
				fullScreenAlignForce : "off",
				minFullScreenHeight : "",
				hideTimerBar : "on",
				hideThumbsOnMobile : "off",
				hideNavDelayOnMobile : 1500,
				hideBulletsOnMobile : "off",
				hideArrowsOnMobile : "off",
				hideThumbsUnderResolution : 0,

				fullScreenOffsetContainer : "",
				fullScreenOffset : "",
				hideSliderAtLimit : 0,
				hideCaptionAtLimit : 0,
				hideAllCaptionAtLilmit : 0,
				startWithSlide : 0
			});
		}); /*ready*/

		var Desktop = 4, tabletportrait = 2, mobilelandscape = 2, mobileportrait = 1, resizeTimer = null;

		jQuery(window).load(
				function() {
					jQuery('div.slotholder').prepend(
							'<div class="bk-responsive-slide"></div>');
				})
	</script>
</body>
</html>