<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Sản Phẩm</title>
    <link rel="stylesheet" th:href="@{/admin/css/main.css}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="dashboard">
                <div th:replace ="common/admin :: header"></div>
                <div class="right">
                    <div class="right__content">
                        <div class="right__title">Bảng điều khiển</div>
                        <p class="right__desc">Chèn sản phẩm</p>
                        <div class="right__formWrapper">
                            <form th:action="@{/admin/add-product}" th:object="${product}" method="post" enctype="multipart/form-data">
                                <div class="right__inputWrapper">
                                    <label for="title">Name</label>
                                    <input type="text" placeholder="Name" th:field="*{name}" required>
                                </div>
                                
                                <div class="right__inputWrapper">
                                    <label for="title">Quantity</label>
                                    <input type="number" min="0" placeholder="Quantity" th:field="*{quantity}" required>
                                </div>
                                
                                <div class="right__inputWrapper">
                                    <label for="title">Price</label>
                                    <input type="number" min="1" placeholder="Price" th:field="*{price}" required>
                                </div>       
                                
                                <div class="right__inputWrapper">
                                    <label for="p_category">Danh mục</label>
                                    <select th:field="*{category.id}" required>
                                        <option disabled selected value="0">Chọn danh mục</option>
                                        <option th:each="cate : ${listCategory}"  th:value="${cate.id}"
                                         th:text="${cate.name}"></option>
                                    </select>
                                </div>
                                
                                <div class="right__inputWrapper">
                                    <label for="image">Hình ảnh</label>
                                    <input type="file" th:field="*{imgMultiPart}" accept="image/*">
                                </div>
                                
                                <div class="right__inputWrapper">
                                    <label for="desc">Mô tả</label>
                                    <textarea type="text" placeholder="Mô tả" th:field="*{description}" cols="30" rows="10" ></textarea>
                                </div>
                              
                                <button class="btn" type="submit">Chèn</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/admin/js/main.js}"></script>
</body>
</html>