<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Người Dùng</title>
    <link rel="stylesheet" th:href="@{/admin/css/main.css}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="dashboard">
                <div th:replace ="common/admin :: header"></div>
                <div class="right">
                    <div class="right__content">
                        <div class="right__title">Bảng điều khiển</div>
                        <p class="right__desc">Add User</p>
                        <div class="right__formWrapper">
                        <!-- 
                            <form th:action="@{/add-user}" enctype="multipart/form-data" method="post">
                                <div class="right__inputWrapper">
                                    <label for="name">Name</label>
                                    <input type="text" th:name="name" placeholder="Name" required>
                                </div>
                                <div class="right__inputWrapper">
                                    <label for="user_name">User Name</label>
                                    <input type="text" th:name="username" placeholder="User Name" required>
                                </div>
                                <div class="right__inputWrapper">
                                    <label for="password">Password</label>
                                    <input type="text" th:name="password" placeholder="Password" name="password" required>
                                </div>
                                
                                <div class="right__inputWrapper">
                                    <label for="role">Role</label>
                                    <select name="role">
                                        <option disabled selected>Chọn Role</option>
                                        <option th:name="role" value="administrator">Administrator</option>
                                        <option th:name="role" value="member">Member</option>
                                    </select>
                                </div>
                                
                                <div class="right__inputWrapper">
                                    <label for="img">Img</label>
                                    <input type="file" th:name="img" accept="image/">
                                </div>
                                
                                <button class="btn" type="submit">Add User</button>
                            </form>
                    -->
                    	<form th:action="@{/admin/add-user}" th:object="${userDTO}" enctype="multipart/form-data" method="post">
                                <div class="right__inputWrapper">
                                    <label for="name">Name</label>
                                    <input th:field="*{name}" type="text" placeholder="Name" required>
                                </div>
                                <div class="right__inputWrapper">
                                    <label for="user_name">User Name</label>
                                    <input th:field="*{userName}" type="text" placeholder="User Name" required>
                                </div>
                                <div class="right__inputWrapper">
                                    <label for="password">Password</label>
                                    <input th:field="*{password}" type="text" placeholder="Password" name="password" required>
                                </div>
                                
                                <div class="right__inputWrapper">
                                    <label for="role">Role</label>
                                    <select name="role">
                                        <option disabled selected>Chọn Role</option>
                                        <option th:field="*{role}" value="ROLE_ADMIN">Administrator</option>
                                        <option th:field="*{role}" value="ROLE_USER">Member</option>
                                    </select>
                                </div>
                                
                                <div class="right__inputWrapper">
                                    <label for="img">Img</label>
                                    <input th:field="*{imgMulipart}" type="file" accept="image/">
                                </div>
                                
                                <button class="btn" type="submit">Add User</button>
                            </form>
                       	</div>
                    </div>
            	</div>
            </div>
        </div>
    </div>

    <script th:src="@{/admin/js/main.js}"></script>
</body>
</html>