<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sửa Mã Khuyến Mãi</title>
    <link rel="stylesheet" th:href="@{/admin/css/main.css}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="dashboard">
                <div th:replace ="common/admin :: header"></div>
                <div class="right">
                    <div class="right__content">
                        <div class="right__title">Bảng điều khiển</div>
                        <p class="right__desc">Sửa Mã Khuyến Mãi</p>
                        <div class="right__formWrapper">
                    	<form th:action="@{/admin/update-coupon}" th:object="${coupon}" method="post">
                                <div class="right__inputWrapper">
                                    <label for="name">id</label>
                                    <input th:field="*{id}" type="number" placeholder="Id" readonly>
                                </div>
                                <div class="right__inputWrapper">
                                    <label for="name">Name</label>
                                    <input th:field="*{name}" type="text" placeholder="Name" readonly>
                                </div>
                                <div class="right__inputWrapper">
                                    <label for="name">Discount</label>
                                    <input th:field="*{discount}" type="number" min="1" max="80" placeholder="Discount" required>
                                </div>
                                <div class="right__inputWrapper">
                                    <label for="name">Expired</label>
                                    <input th:field="*{expired}" type="text" placeholder="yyyy-MM-dd" required>
                                </div>
                                <button class="btn" type="submit">Update Coupon</button>
                            </form>
                       	</div>
                    </div>
            	</div>
            </div>
        </div>
    </div>

    <script th:src="@{/admin/js/main.js}"></script>
</body>
</html>