<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Người Dùng</title>
    <link rel="stylesheet" th:href="@{/admin/css/main.css}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="dashboard">
                <div th:replace="common/admin :: header"></div>
                <div class="right">
                    <div class="right__content">
                        <div class="right__title">Bảng điều khiển</div>
                        <p class="right__desc">Khách Hàng</p>
                        <div class="right__table">
                            <div class="right__tableWrapper">
                                <table>
                                    <thead>
                                        <tr>
                                            <th th:text="id"></th>
                                            <th th:text="name"></th>
                                            <th th:text="username"></th>
                                            <th th:text="role"></th>     
                                            <th th:text="img"></th> 
                                                        
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        <tr th:each= "user: ${list}">
                                            <td th:text="${user.id}"></td>
                                            <td th:text="${user.name}"></td>
                                            <td th:text="${user.userName}"></td>
                                            <td th:text="${user.role}"></td>
                                            <td data-label="Img" style="text-align: center;"><img style="width: 50px;height: 50px; border-radius: 100%; object-fit: cover;" th:src="@{'/img/user/'+ ${user.userName} +'/' + ${user.img}}" alt=""></td>   
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            	</div>
            </div>
        </div>
    </div>

    <script th:src="@{/admin/js/main.js}"></script>
</body>
</html>